#wtime-container {
  overflow-y: auto;
  height: 100vh;
}

#wtime-container > div {
  height: inherit;
}

.callout {
  margin-bottom: 0.5rem;
}

.button {
  color: white;
}

.listContainer {
  padding: 1.2rem;
}

.list {
  overflow-y: scroll;
  overflow-x: hidden;
}