#project-list-pane {
  background-color: #474747;
  overflow-y: auto;
  height: 100vh;
  color: white;
}

#project-list-add-button {
  margin-top: 0.2rem;
  margin-bottom: 0.5rem;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
}

#project-list-item {
  margin-left: 0.2rem;
  margin-right: 0.2rem;
  margin-top: 0.2rem;
  margin-bottom: 0.5rem;
}